body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.q1 {
  color: white;
  background-color: #fe6600;
}

.q2 {
  color: white;
  background-color: #2c8011;
}

.q3 {
  color: white;
  background-color: #1862b5;
}

.q4 {
  color: white;
  background-color: goldenrod;
}
